
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  margin: 0;
  color: #444;
  
}
.Title {
  background:#2f4f4f;
  width: 100%;
  height: 75px;
}
.Company_Title{
  float: left;
  padding: 20px 20px 20px 20px;
  color: whitesmoke;
  font-family: "Merriweather", serif;
  font-size: 20px; 
}
.Image{
  float: left;
  width: 10%;
  margin : 2px;
  padding: 2px 2px 2px 2px;
  max-height: 60px;
  border: 1px solid;
}

#MainMenu{
  float: left;
  padding: 20px 20px 20px 20px;
  width: 35px;
  height: 35px;
}
/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.4s; /* 0.4 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.container {
  margin-left: 15px;
  padding: 5px 5px 5px 5px;
  width: 400px;
  height: 400px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.back_a{
  background: url(../Images/webdev.jpg) no-repeat;
  width: 100%;
  height: 100%;  
}
.main-content {
  width: 360px;
  padding: 20px;
  height: 450px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic
}

.content-switcher{
  display:none;
}
.content-switcher:first-child{
  display: block;
}

.Content{
  margin-top: 0;
  width: 100%;
}
.thome{
  color: whitesmoke;
  padding-top: 10px;
  text-align: center;
  background: #2f4f4f;
  width: 100%;
  height: 50px;
  font-size: 25px;
}
.cont{
  width: 100%;
  background:white;

}
.footer{
  color: whitesmoke;
  margin-top: 20px;
  width: 100%;
  height: 250px;
  border: 2px solid black;
  background-color: #2f4f4f;
}

.social{
  width: 35px no-repeat;
  height: 35px no-repeat;
  margin: 10px 10px 10px 10px;
  padding: 5px 5px 5px 5px;
}