
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  margin: 0;
  color: #444;
  
}
.Title {
  background:#2f4f4f;
  width: 100%;
  height: 75px;
}
.Company_Title{
  float: left;
  padding: 20px 20px 20px 20px;
  color: whitesmoke;
  font-family: "Merriweather", serif;
  font-size: 20px; 
}
.Image{
  margin-left: 27px;
  left: 85px;
  float: left;
  width: 85px;
  height: 80px;
  padding: 10px 5px 10px 20px;
}

#MainMenu{
  float: left;
  padding: 20px 20px 20px 20px;
  width: 35px;
  height: 35px;
}
/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.4s; /* 0.4 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.container {
  margin-left: 15px;
  padding: 5px 5px 5px 5px;
  width: 400px;
  height: 400px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.back_a{
  background: url(../Images/webdev.jpg) no-repeat;
  width: 100%;
  height: 100%;  
}
.main-content {
  width: 360px;
  padding: 20px;
  height: 450px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic
}
.Content{
  margin-top: 0;
  width: 100%;
}
.thome{
  border: 1px solid black;
  color: whitesmoke;
  padding-top: 10px;
  text-align: center;
  background: #2f4f4f;
  width: 100%;
  height: 50px;
  font-size: 25px;
}
.cont{
  padding: 7px 7px 7px 7px;
  border: 1px solid black;
  font-size: 17px;
  width: 100%;
  background:white;

}
.footer{
  padding-top: 0;
  color: whitesmoke;
  width: 100%;
  height: 250px;
  border: 2px solid black;
  background-color: #2f4f4f;
}

.social{
  width: 32px no-repeat;
  height: 32px no-repeat;
  margin: 2px 5px 2px 5px;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  padding-top: 30px;
  max-width: 1000px;
  margin: auto;
  position: relative;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

.mySlides:first-child{
    display: block;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #2f4f4f;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: black;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color:whitesmoke;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media screen and (max-width: 500px) {
  .Image{
    width: 65px;
    height: 65px;
    margin-left: 10px;
    margin-top: 1px;
  }
  .Company_Title{
    
    margin-top: 10px;
    padding: 14px 10px 10px 10px;
    font-size: 13px; 
  }

  #MainMenu{
    padding: 14px 10px 10px 10px;
  }

  .text{
    bottom: 3px;
    font-size: 9px;
  }
  
  .thome{
    font-size: 16px;
  }

  .cont{
    font-size: 13px;
  }
  .footer{
    height: 170px;
    font-size: 11px;
  }
}